*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial, Helvetica, sans-serif;
}

body{
    background:#f2f2f2;
    color:#333;
}

header{
    background:#002554;
    color:white;
    padding:40px;
    text-align:center;
}

nav{
    background:#111;
    text-align:center;
    padding:15px;
}

nav a{
    color:white;
    text-decoration:none;
    margin:20px;
    font-weight:bold;
}

nav a:hover{
    color:#00b140;
}

.hero img{
    width:100%;
    height:450px;
    object-fit:cover;
}

section{
    max-width:1100px;
    margin:auto;
    padding:50px 20px;
}

h2{
    color:#002554;
    margin-bottom:20px;
}

.cards{
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(220px,1fr));
    gap:20px;
}

.card{
    background:white;
    border-radius:10px;
    padding:20px;
    box-shadow:0 4px 8px rgba(0,0,0,.15);
    transition:.3s;
}

.card:hover{
    transform:translateY(-8px);
}

ul{
    margin-left:20px;
    line-height:35px;
}

form{
    display:flex;
    flex-direction:column;
}

input,
textarea{
    padding:12px;
    margin:10px 0;
    border:1px solid #ccc;
    border-radius:5px;
}

button{
    background:#00b140;
    color:white;
    border:none;
    padding:15px;
    cursor:pointer;
    border-radius:5px;
    font-size:16px;
}

button:hover{
    background:#008c34;
}

footer{
    background:#002554;
    color:white;
    text-align:center;
    padding:20px;
}